@import url('https://fonts.googleapis.com/css?family=Jura');
body {
    text-align: center;
    background:red;
    width: 100%;
    margin:  0 auto;
    /* font-family: Jura, Helvetica, sans-serif; */
  font-size: 1em;
}


#inputHeight, #inputWeight {
     position: relative;
    width: 9em;
    line-height: 2em;
    -webkit-appearance: none;
    outline: none;
    border-radius: 5px;
    box-shadow: inset 1px 1px 4px #777;
    border: 1px solid rgba(10, 41, 51, .4);
    color: purple;
    font-weight: bold;
    padding-left: 5px;
    font-size: 1em;
-webkit-box-shadow: 11px 10px 39px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 10px 39px -9px rgba(0,0,0,0.75);
box-shadow: 11px 10px 39px -9px rgba(0,0,0,0.75);

}

.btn-full:visited,
input[type=submit] {
     border: 1px solid #0a2933;
     color: #0a2933;
     font-weight: 500;
}
.form-btn input[type='submit']:hover{
/* 	background-color: rgba(144, 250, 144, .7); */
  background-color: #00c8c8 ;
	color: #222;
   font-weight: 500;
}
.form-btn  {
-webkit-box-shadow: 11px 10px 39px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 10px 39px 3px rgba(0,0,0,0.75);
box-shadow: 11px 10px 39px 3px rgba(0,0,0,0.75);
}

h1 {
    font-family: Monoton;
    font-size: 85px;
    margin: 0.2em;
     word-spacing: 20px;
     color: transparent;
   padding-top: 20px;
   letter-spacing: 3px;
   text-shadow: #000 1.5px 1.5px 0;
   font-weight: 200;
}

h2:first-of-type {
    margin-top: 0.5em;
    font-size: 2em;
}
p  {
    font-size: 1.2em;
  font-weight: 600;
  color: purple;
}

table,
tr,
td {
    border: 1px solid #0ba59f;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
input[type=color] {
    width: 5em;
    height: 2em;
    border-radius:  5px;
    -webkit-box-shadow: 11px 10px 39px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 10px 39px -9px rgba(0,0,0,0.75);
box-shadow: 11px 10px 39px -9px rgba(0,0,0,0.75);

}


#section {
    float:  left;
    width: 40%;
    text-align: left;
margin-left: 15em;
}
#canvasFormation {
     float: right;
    width: 30%;
    text-align: right;
    margin-right: 15em;
}

.blast {
   display: inline-block;
   opacity: 0;
   color: #0ba59f ;/* #9e94ba; #b0aac2; */
}

.blast:nth-child(1),
.blast:nth-child(6),
.blast:nth-child(9),
.blast:nth-child(14),
.blast:nth-child(17){
   color: #b3c3d8; /*#a8b6bf;*/
}
