@import url(https://fonts.googleapis.com/css?family=Roboto:300,700);

#wrapper{
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  /*transition for the background color*/
  -webkit-transition: background-color 500ms;
   -moz-transition: background-color 700ms;
   -o-transition: background-color 700ms;
   transition: background-color 700ms;
}

/*color classes to be applied to "#wrapper" by the js*/
.colorOne{
  background-color: #BF3F3F;
}
.colorTwo{
  background-color: #59A57F;
}
.colorThree{
  background-color: black;
}
.colorFour{
  background-color: #7FBF3F;
}

/*layout styles not really relevant to this demo*/

header{
  width: 100%;
  color: white;
  background-color: #191919;
  text-align: center;
  padding: 1em 0 1em 0;
  margin-bottom: 100px;
}
h2{
  font-size: .7em;
  padding-top: .5em;
}

.item{
  width: 100%; 
  max-width: 600px;
  margin: 0 auto;
  height: 650px;
  padding: 0px 0 10px 0;
}

h1{
  color: white;
  display: inline-block;
  width: 32%;
  vertical-align: top;
  font-size: 10em;
  font-weight: 700;
}
p{
  width: 64%;
  display: inline-block;
  color: white;
  line-height: 170%;
  font-size: .9em;
  font-weight: 300;
}

@media screen and (max-width: 550px) {
  h1{
    display: block;
    width: 90%;
    margin-left: 3%;
  }
  p{
    display: block;
    width: 90%;
    margin-left: 3%;
  }
  header{
    margin-bottom: 30px;
  }
  
}

